# =============== #
# Unity folders #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
3rdParty/
[Bb]uild/
[Bb]uilds/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ===================================== #
# Unity generated #
# ===================================== #
*.pidb.meta
sysinfo.txt

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
GGJ Old/Prefabs/Angel.prefab
GGJ Old/Prefabs/Angel.prefab.meta
GGJ Old/Prefabs/Devil.prefab
GGJ Old/Prefabs/Devil.prefab.meta
GGJ Old/Scripts/CameraControllerPlayer.cs
GGJ Old/Scripts/CameraControllerPlayer.cs.meta
GGJ Old/Scripts/Characters.meta
GGJ Old/Scripts/Characters/SpriteController.cs
GGJ Old/Scripts/Characters/SpriteController.cs.meta
GGJ Old/Scripts/ObstacleController.cs
GGJ Old/Scripts/ObstacleController.cs.meta
GGJ Old/Sprites/Character_Spritesheet.psd
GGJ Old/Sprites/Character_Spritesheet.psd.meta
GGJ Old/Sprites/Daco_3243052.png
GGJ Old/Sprites/Daco_3243052.png.meta
