# =============== #
# Unity folders #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
3rdParty/
[Bb]uild/
[Bb]uilds/
[Uu]serSettings

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ===================================== #
# Unity generated #
# ===================================== #
*.pidb.meta
sysinfo.txt

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
GGJ Old/Prefabs/Angel.prefab
GGJ Old/Prefabs/Angel.prefab.meta
GGJ Old/Prefabs/Devil.prefab
GGJ Old/Prefabs/Devil.prefab.meta
GGJ Old/Scripts/CameraControllerPlayer.cs
GGJ Old/Scripts/CameraControllerPlayer.cs.meta
GGJ Old/Scripts/Characters.meta
GGJ Old/Scripts/Characters/SpriteController.cs
GGJ Old/Scripts/Characters/SpriteController.cs.meta
GGJ Old/Scripts/ObstacleController.cs
GGJ Old/Scripts/ObstacleController.cs.meta
GGJ Old/Sprites/Character_Spritesheet.psd
GGJ Old/Sprites/Character_Spritesheet.psd.meta
GGJ Old/Sprites/Daco_3243052.png
GGJ Old/Sprites/Daco_3243052.png.meta

## ---------------- ##
##   WWise stuff    ##
## ---------------- ##

# project stuff
WWiseProject/.cache/
WWiseProject/*.prof
WwiseProject/*_WwiseProject.*.validationcache
WwiseProject/*_WwiseProject.*.wsettings
WwiseProject/**/*.akd

# build stuff (unsure?)
# Assets/Wwise/Deployment/Plugins/Windows/**/*.meta

# WWise Picker (editor)
# from https://www.audiokinetic.com/library/edge/?source=Unity&id=unity__troubleshooting.html
# >> Do not keep AkWwiseProjectData.asset under version control! 
# >> This is a temporary cache file for the Wwise project data, 
# >> so as to avoid having the Wwise Picker continuously parse the Work Unit files.
Assets/Wwise/Editor/ProjectData

# notes:
# 1) if any other files go in Assets/Wwise/Editor/ProjectData/ besides AkWwiseProjectData.asset*,
#    then don't ignore Assets/Wwise/Editor/ProjectData.meta. If AkWwiseProjectData.asset is the only item in there,
#    then, it's OK to ignore this file.
# 
# Assets/Wwise/Editor/ProjectData.meta

## --------------- ##
## End WWise Stuff ##
## --------------- ##

# temp install files
WwiseUnityIntegration_*_Src.zip

# Mac stuff
.DS_store
Global GJ 2022/Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset
Global GJ 2022/UserSettings/EditorUserSettings.asset
Global GJ 2022/UserSettings/EditorUserSettings.asset
